<h3 id="photos">Fotos</h3>
<p>Fotos del gimnasio.</p>
<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="/public/images/casa-del-boxeador-photo-01.jpg" alt="">
			<div class="carousel-caption">
				<h4>Foto Label 1</h4>
				<p>Foto.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-02.jpg" alt="">
			<div class="carousel-caption">
				<h4>Foto Label 2</h4>
				<p>Foto.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-03.jpg" alt="">
			<div class="carousel-caption">
				<h4>Foto Label 3</h4>
				<p>Foto.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-04.jpg" alt="">
			<div class="carousel-caption">
				<h4>Foto Label 4</h4>
				<p>Foto.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-05.jpg" alt="">
			<div class="carousel-caption">
				<h4>Foto Label 5</h4>
				<p>Foto.</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>