<h3 id="photos">Fotos</h3>
<p>Fotos del gimnasio Casa del Boxeador.</p>
<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<img src="/public/images/casa-del-boxeador-photo-01.jpg" alt="">
			<div class="carousel-caption">
				<h4>Escudo</h4>
				<p>El gran escudo del gimnasio de la Casa del Boxeador pintado en una de las paredes del mismo.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-02.jpg" alt="">
			<div class="carousel-caption">
				<h4>Tabla de pesos y categorías</h4>
				<p>Cada categoría de boxeo está determinada por el peso del púgil.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-03.jpg" alt="">
			<div class="carousel-caption">
				<h4>Vendas</h4>
				<p>Las vendas son fundamentales para el entrenamiento de boxeo, en el gimnasio no se permite practicar el deporte sin las mismas.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-04.jpg" alt="">
			<div class="carousel-caption">
				<h4>Vendajes</h4>
				<p>Los vendajes son correctamente realizados por el profesor Dardo Gimenez a cada uno de sus alumnos.</p>
			</div>
		</div>
		<div class="item">
			<img src="/public/images/casa-del-boxeador-photo-05.jpg" alt="">
			<div class="carousel-caption">
				<h4>El Profe</h4>
				<p>Dardo Gimenez, campeón uruguayo del ring y de la vida.</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>