<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Casa del Boxeador</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
<link rel="stylesheet" media="screen" href="/public/stylesheets/bootstrap.css">
<style>
body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Casa del Boxeador</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#photos">Fotos</a></li>
						<li><a href="#contact">Contacto</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">

		<div class="hero-unit">
			<h1>
				<img class="logo" alt="Casa del Boxeador" src="/public/images/casa-del-boxeador-logo.jpg">
				Casa del Boxeador
			</h1>
		</div>
		
		<div class="row">
			<div class="page-header"></div>
			<div id="contact" class="span3 columns">
				<h3>Contacto</h3>
				<p>Bartolome Mitre 2020, Capital Federal</p>
				<p>4953-1810</p>
				<p>casadelboxeador@gmail.com</p>
				<p>Profesor: Dardo Gimenez</p>
			</div>
			
			
			<div class="span9 columns">
				#{include '/app/views/Application/carousel.html' /}
			</div>
			
		</div>
	</div>

	<!-- Le javascript 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/public/javascripts/jquery.js"></script>
<!-- 	<script src="/public/javascripts/bootstrap-transition.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-alert.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-modal.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-dropdown.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-scrollspy.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-tab.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-tooltip.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-popover.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-button.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-collapse.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-carousel.js"></script> -->
<!-- 	<script src="/public/javascripts/bootstrap-typeahead.js"></script> -->
	<script src="/public/javascripts/bootstrap.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('.carousel').carousel({
				interval : 3000
			});
		});
	</script>
</body>
</html>